<!DOCTYPE html>
<html>
    <head>
        <title>GUI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script script src="https://unpgk.com/Vue"></script>
        <link rel= "stylesheet "href="{{ url_for('static',filename='styless.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="Header">
                <div class=navbar>
                    <h1>Climate Control system</h1>
                </div>
            </div>
            <div class="Sidebar">
                
            </div>
            <div class="Main-content">
                <h1> Server has shutdown</h1>
            </div>
            <div class="rightbar">      
            </div>
        </div>
    </body>
    <script>    
   </script>
</html>
